<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
      body {
          margin: 0;
          padding: 0;
          background-color: #fff;
      }
      #logocontainer {
        position: fixed;
        width: 100%;
        height: 51px;
        z-index: 2;
      }
      #logo {
        float: right;        
      }

    </style>

  </head>
  
  <body>
    <div id="logocontainer" Align="right">
      <!--CHECK: 本番前に下のリンクは書き換える -->
      <a href="http://tuxurecords.tumblr.com/" id="logo">
        <img src="/images/tuxu_logo_mini.png" alt="tuxurecords.com">
      </a> 
    </div>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>これでも見てろカス</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1iVzneKEAPY?list=FL9VfytiT6lOtKi_rBWJztwQ" frameborder="0" allowfullscreen></iframe>

    </div>
  </body>
</html>