<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <style type="text/css">
      body {
          margin: 0;
          padding: 0;
          background-color: #000;
      }
    </style>

    <script type="application/x-glsl" id="sky-vertex">
      varying vec2 vUV;

      void main() {
        vUV = uv;
        vec4 pos = vec4(position, 1.0);
        gl_Position = projectionMatrix * modelViewMatrix * pos;
      }
    </script>

    <script type="application/x-glsl" id="sky-fragment">
      uniform sampler2D texture;
      varying vec2 vUV;

      void main() {
        vec4 sample = texture2D(texture, vUV);
        gl_FragColor = vec4(sample.xyz, sample.w);
      }
    </script>
  </head>
  
  <body>
    <div id="enchant-stage"></div>
  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <div id="foo"></div>
    <script src="/javascripts/vendor/enchant.min.js"></script>
    <script src="/javascripts/vendor/three.min.js"></script>
    <script src="/javascripts/enchu.js"></script>
    <script src="/javascripts/vendor/OBJLoader.js"></script>
    <script src="/javascripts/vendor/MTLLoader.js"></script>
    <script src="/javascripts/vendor/OBJMTLLoader.js"></script>
    <script src="/javascripts/main.js"></script>

</html>