<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <meta property="og:image" content="http://tuxurecords.sakura.ne.jp/data/roadside/ogp.jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:description" content='つくしレコーズ＋古町MOI -ロードサイドEP'>
    <style type="text/css">
      body {
          margin: 0;
          padding: 0;
          background-color: #000;
      }
      #logocontainer {
        position: fixed;
        width: 100%;
        height: 51px;
        z-index: 2;
        visibility:hidden;
      }
      #logo {
        float: right;
      }
      #logo img {
        margin-right: 20px;
        margin-top: 20px;
      }

      #dummyIntro {
      }

      #chat-area {
        position: fixed;
        width: 100%;
        /*height: 300px;*/
        z-index: 2;
        visibility:hidden;
      }
    </style>

    <script type="application/x-glsl" id="sky-vertex">
      varying vec2 vUV;

      void main() {
        vUV = uv;
        vec4 pos = vec4(position, 1.0);
        gl_Position = projectionMatrix * modelViewMatrix * pos;
      }
    </script>

    <script type="application/x-glsl" id="sky-fragment">
      uniform sampler2D texture;
      varying vec2 vUV;

      void main() {
        vec4 sample = texture2D(texture, vUV);
        gl_FragColor = vec4(sample.xyz, sample.w);
      }
    </script>
  </head>
  
  <body>
    <div id="logocontainer" Align="right" >
      <!--CHECK: 本番前に下のリンクは書き換える -->
      <a href="http://tuxurecords.tumblr.com/" id="logo">
        <img src="/images/tuxu_logo_mini.png" width="100px" alt="tuxurecords.com">
      </a> 
    </div>

    <div id="chat-area">
      <input type="text" id="msg_input" style="width:200px;" />
      <button id="publish-message">語る</button>
      <div id="msg"></div>
    </div>

    <div id="dummyIntro">
    </div>


    <div id="enchant-stage"></div>

  
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-20163216-6', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
    <script src="/javascripts/vendor/enchant.min.js"></script>
    <script src="/javascripts/vendor/three.min.js"></script>
    <script src="/javascripts/vendor/AudioBufferLoader.js"></script>
    <script src="/javascripts/vendor/async.js"></script>
    <script src="/javascripts/shop.js"></script>
    <script src="/javascripts/main.js"></script>
</html>